pkgbase = python-pip-api
	pkgdesc = An unofficial, importable pip API
	pkgver = 0.0.25
	pkgrel = 1
	url = https://github.com/di/pip-api
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python-pip
	conflicts = python-pip-api-git
	noextract = python-pip-api-0.0.25.tar.gz
	options = !strip
	source = python-pip-api-0.0.25.tar.gz::https://github.com/di/pip-api/tarball/7e4d857253e1f4fba3ff699249c94f981704e657
	sha512sums = f4044d84944af5bcb39b88f30d0d4c1fad70e881d93f1a9f6d84d862c34f16fe56b1aa4a9c5e7e347326668cba303d71dc96b47eb74a475ec811f1dd231192fd

pkgname = python-pip-api
