pkgbase = python-pip-api
	pkgdesc = An unofficial, importable pip API
	pkgver = 0.0.26
	pkgrel = 1
	url = https://github.com/di/pip-api
	arch = any
	license = Apache
	makedepends = python-setuptools
	depends = python-pip
	conflicts = python-pip-api-git
	noextract = python-pip-api-0.0.26.tar.gz
	options = !strip
	source = python-pip-api-0.0.26.tar.gz::https://github.com/di/pip-api/tarball/c0707e9bca9361a77a1a3c748d327f76e912602c
	sha512sums = a130c5aefcacae68e939a8b7b481b341dd283febfb851de0705461ae0dd6f6f543689130e106f92aec82fe8b4648f456d62b6656e80733b07080837dfc45faa9

pkgname = python-pip-api
